body{
    margin: 0;
    padding: 0;
}
.menuStyle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    height: 100px;

}

.menuStyle a{
    text-decoration: none;
    color: snow;
    font-size: 40px;
    font-family: "Heiti SC", serif;
}

.userStyle{
    font-family: "Heiti SC", serif;
    font-size: 30px;
    margin-left: 20px;
}
.postStyle{
    font-family: "Heiti SC", serif;
    font-size: 30px;
    margin-left: 20px;
    color: red;
}