
body{
    background-color: wheat;
}
.nameIdStyle{
    font-family: "Comic Sans MS", serif;
    font-size: 30px;
    color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myNameStyle{
    font-family: "Comic Sans MS", serif;
    font-size: 30px;
    color: black;
    margin-left: 10px;
}

.button{
    width: 150px;
    height: 30px;
    background: transparent;
    border: solid 2px black;
    margin-left: 20px;
    font-family: "Comic Sans MS", serif;
}
