body{
    background-image: url("https://wallpapershome.com/images/pages/pic_h/17389.jpg");
}

.spaceCardStyle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 450px;
    background: black;
    border: solid 2px snow;
    border-radius: 10px;
}
.generalStyleCard{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fontStyle{
    color: snow;
    font-family: "Comic Sans MS", serif;
    margin-bottom: 20px;
}